<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:util="http://www.springframework.org/schema/util"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd"
        default-autowire="byName"
        >


    <!-- ActiveMQ -->
    <bean id="jmsConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory" >
      <property name="brokerURL" value="${activemq.url}" />
      <property name="userName" value="" />
      <property name="password" value="" />
    </bean>

    <bean id="pooledJmsConnectionFactory"
          class="org.apache.activemq.pool.PooledConnectionFactory"
          destroy-method="stop">
      <property name="connectionFactory" ref="jmsConnectionFactory"/>
    </bean>

    <bean id="jmsConfig"
          class="org.apache.camel.component.jms.JmsConfiguration">
      <property name="connectionFactory" ref="pooledJmsConnectionFactory"/>
      <property name="transacted" value="false"/>
      <property name="concurrentConsumers" value="10"/>
    </bean>

    <bean id="activemq"
          class="org.apache.activemq.camel.component.ActiveMQComponent">
      <property name="configuration" ref="jmsConfig"/>
    </bean>

    <!-- Spring JMS Template -->
    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
      <property name="connectionFactory" ref="pooledJmsConnectionFactory" />
      <property name="pubSubDomain" value="true"/>
    </bean>



    <!-- The following is for none annotated e-mails -->
    <bean id="ALERT_METADATA_MailNew"
          class="eu.alertproject.iccs.stardom.spring.ALERTDefaultMessageListenerContainer">
        <constructor-arg>
            <util:constant static-field="eu.alertproject.iccs.events.api.Topics.ALERT_MLSensor_Mail_New"/>
        </constructor-arg>
        <constructor-arg ref="mailNewListener"/>
  </bean>
    <!---->
    <!--<bean id="ALERT_METADATA_MailNew" class="org.springframework.jms.listener.DefaultMessageListenerContainer">-->
        <!--<property name="connectionFactory" ref="jmsConnectionFactory"/>-->
        <!--<property name="destination">-->
            <!--<bean-->
                <!--class="org.apache.activemq.command.ActiveMQTopic">-->
                <!--<constructor-arg>-->
                    <!--<util:constant static-field="eu.alertproject.iccs.events.api.Topics.ALERT_MLSensor_Mail_New"/>-->
                <!--</constructor-arg>-->
            <!--</bean>-->
        <!--</property>-->
        <!--<property name="messageListener" ref="mailNewListener"/>-->
        <!--<property name="recoveryInterval" value="60000"/>-->
        <!--<property name="cacheLevel" value="3" />-->
    <!--</bean>-->

    <bean id="ALERT_METADATA_MailNew_Updated" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="jmsConnectionFactory"/>
        <property name="destination">
            <bean
                class="org.apache.activemq.command.ActiveMQTopic">
                <constructor-arg>
                    <util:constant static-field="eu.alertproject.iccs.events.api.Topics.ALERT_METADATA_MailNew_Updated"/>
                </constructor-arg>
            </bean>
        </property>
        <property name="messageListener" ref="mailNewAnnotatedListener"/>
        <property name="recoveryInterval" value="60000"/>
        <property name="cacheLevel" value="3" />
    </bean>


    <bean id="ALERT_METADATA_CommitNew_Updated" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="jmsConnectionFactory"/>
        <property name="destination">
            <bean
                class="org.apache.activemq.command.ActiveMQTopic">
                <constructor-arg>
                    <util:constant static-field="eu.alertproject.iccs.events.api.Topics.ALERT_METADATA_CommitNew_Updated"/>
                </constructor-arg>
            </bean>
        </property>
        <property name="messageListener" ref="commitNewAnnotatedListener"/>
        <property name="recoveryInterval" value="60000"/>
        <property name="cacheLevel" value="3" />
    </bean>

    <bean id="ALERT_METADATA_IssueNew_Updated" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="jmsConnectionFactory"/>
        <property name="destination">
            <bean
                class="org.apache.activemq.command.ActiveMQTopic">
                <constructor-arg>
                    <util:constant static-field="eu.alertproject.iccs.events.api.Topics.ALERT_METADATA_IssueNew_Updated"/>
                </constructor-arg>
            </bean>
        </property>
        <property name="messageListener" ref="issueNewAnnotatedListener"/>
        <property name="recoveryInterval" value="60000"/>
        <property name="cacheLevel" value="3" />
    </bean>

    <bean id="ALERT_METADATA_IssueUpdate_Updated" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="jmsConnectionFactory"/>
        <property name="destination">
            <bean
                class="org.apache.activemq.command.ActiveMQTopic">
                <constructor-arg>
                    <util:constant static-field="eu.alertproject.iccs.events.api.Topics.ALERT_METADATA_IssueUpdate_Updated"/>
                </constructor-arg>
            </bean>
        </property>
        <property name="messageListener" ref="issueUpdatedAnnotatedListener"/>
        <property name="recoveryInterval" value="60000"/>
        <property name="cacheLevel" value="3" />
    </bean>

    <bean id="ALERT_METADATA_ForumPost_Updated" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="jmsConnectionFactory"/>
        <property name="destination">
            <bean
                class="org.apache.activemq.command.ActiveMQTopic">
                <constructor-arg>
                    <util:constant static-field="eu.alertproject.iccs.events.api.Topics.ALERT_METADATA_ForumPost_Updated"/>
                </constructor-arg>
            </bean>
        </property>
        <property name="messageListener" ref="issueUpdatedAnnotatedListener"/>
        <property name="recoveryInterval" value="60000"/>
        <property name="cacheLevel" value="3" />
    </bean>

    <bean id="ALERT_ALL_STARDOM_LoginVerifyRequest" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="jmsConnectionFactory"/>
        <property name="destination">
            <bean
                class="org.apache.activemq.command.ActiveMQTopic">
                <constructor-arg>
                    <util:constant static-field="eu.alertproject.iccs.events.api.Topics.ALERT_ALL_STARDOM_LoginVerifyRequest"/>
                </constructor-arg>
            </bean>
        </property>
        <property name="messageListener" ref="loginVerifyListener"/>
        <property name="recoveryInterval" value="60000"/>
        <property name="cacheLevel" value="3" />
    </bean>

</beans>