<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:util="http://www.springframework.org/schema/util"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd"
        default-autowire="byName"
        >


    <bean id="ALERT_METADATA_CommitNew_Updated" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="jmsConnectionFactory"/>
        <property name="destination">
            <bean
                class="org.apache.activemq.command.ActiveMQTopic">
                <constructor-arg>
                    <util:constant static-field="eu.alertproject.iccs.events.api.Topics.ALERT_METADATA_CommitNew_Updated"/>
                </constructor-arg>
            </bean>
        </property>

        <!--<property name="clientId" value="STARDOM" />-->
        <property name="subscriptionDurable" value="true" />
        <property name="durableSubscriptionName" value="ALERT.Metadata.CommitNew.Updated" />

        <property name="messageListener" ref="commitNewAnnotatedListener"/>
        <property name="recoveryInterval" value="60000"/>
        <property name="cacheLevel" value="3" />

    </bean>

    <bean id="ALERT_METADATA_IssueNew_Updated" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="jmsConnectionFactory"/>
        <property name="destination">
            <bean
                class="org.apache.activemq.command.ActiveMQTopic">
                <constructor-arg>
                    <util:constant static-field="eu.alertproject.iccs.events.api.Topics.ALERT_METADATA_IssueNew_Updated"/>
                </constructor-arg>
            </bean>
        </property>

        <!--<property name="clientId" value="STARDOM" />-->
        <property name="subscriptionDurable" value="true" />
        <property name="durableSubscriptionName" value="ALERT.Metadata.IssueNew.Updated" />

        <property name="messageListener" ref="issueNewAnnotatedListener"/>
        <property name="recoveryInterval" value="60000"/>
        <property name="cacheLevel" value="3" />
    </bean>

    <bean id="ALERT_METADATA_IssueUpdate_Updated" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="jmsConnectionFactory"/>
        <property name="destination">
            <bean
                class="org.apache.activemq.command.ActiveMQTopic">
                <constructor-arg>
                    <util:constant static-field="eu.alertproject.iccs.events.api.Topics.ALERT_METADATA_IssueUpdate_Updated"/>
                </constructor-arg>
            </bean>
        </property>

        <!--<property name="clientId" value="STARDOM" />-->
        <property name="subscriptionDurable" value="true" />
        <property name="durableSubscriptionName" value="ALERT.Metadata.IssueUpdate.Updated" />

        <property name="messageListener" ref="issueUpdatedAnnotatedListener"/>
        <property name="recoveryInterval" value="60000"/>
        <property name="cacheLevel" value="3" />
    </bean>

    <bean id="ALERT_METADATA_MailNew_Updated" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="jmsConnectionFactory"/>
        <property name="destination">
            <bean
                    class="org.apache.activemq.command.ActiveMQTopic">
                <constructor-arg>
                    <util:constant static-field="eu.alertproject.iccs.events.api.Topics.ALERT_METADATA_MailNew_Updated"/>
                </constructor-arg>
            </bean>
        </property>
        <!--<property name="clientId" value="STARDOM" />-->
        <property name="subscriptionDurable" value="true" />
        <property name="durableSubscriptionName" value="ALERT.Metadata.MailNew.Updated" />

        <property name="messageListener" ref="mailNewAnnotatedListener"/>
        <property name="recoveryInterval" value="60000"/>
        <property name="cacheLevel" value="3" />
    </bean>

    <bean id="ALERT_METADATA_ForumPost_Updated" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="jmsConnectionFactory"/>
        <property name="destination">
            <bean
                class="org.apache.activemq.command.ActiveMQTopic">
                <constructor-arg>
                    <util:constant static-field="eu.alertproject.iccs.events.api.Topics.ALERT_METADATA_ForumPost_Updated"/>
                </constructor-arg>
            </bean>
        </property>

        <!--<property name="clientId" value="STARDOM" />-->
        <property name="subscriptionDurable" value="true" />
        <property name="durableSubscriptionName" value="ALERT.Metadata.ForumPostNew.Updated" />

        <property name="messageListener" ref="forumAnnotatedListener"/>
        <property name="recoveryInterval" value="60000"/>
        <property name="cacheLevel" value="3" />
    </bean>

    <bean id="ALERT_ALL_STARDOM_LoginVerifyRequest" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="jmsConnectionFactory"/>
        <property name="destination">
            <bean
                class="org.apache.activemq.command.ActiveMQTopic">
                <constructor-arg>
                    <util:constant static-field="eu.alertproject.iccs.events.api.Topics.ALERT_ALL_STARDOM_LoginVerifyRequest"/>
                </constructor-arg>
            </bean>
        </property>

        <!--- ALERT.*.LoginVerifyRequest-->
        <!--<property name="clientId" value="STARDOM" />-->
        <property name="subscriptionDurable" value="true" />
        <property name="durableSubscriptionName" value="ALERT.*.LoginVerifyRequest" />

        <property name="messageListener" ref="loginVerifyListener"/>
        <property name="recoveryInterval" value="60000"/>
        <property name="cacheLevel" value="3" />
    </bean>

</beans>