<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!-- Services -->
   <bean class="eu.alertproject.iccs.stardom.activemqconnector.internal.ArtefactUpdateEventHandler"/>
   <bean class="eu.alertproject.iccs.stardom.analyzers.scm.bus.ScmEventHandler"/>
   <bean class="eu.alertproject.iccs.stardom.analyzers.its.bus.ItsEventHandler"/>
   <bean class="eu.alertproject.iccs.stardom.analyzers.its.bus.ItsChangeEventHandler"/>
   <bean class="eu.alertproject.iccs.stardom.analyzers.mailing.bus.MailingListEventHandler"/>

    <!--<bean class="eu.alertproject.iccs.stardom.analyzers.forums.bus.ForumEventHandler>-->

   <!--<bean class="eu.alertproject.iccs.stardom.analyzers.its.constructor.ItsActivityAnalyzer"/>-->
   <!--<bean class="eu.alertproject.iccs.stardom.analyzers.its.constructor.ItsActivityHistoryAnalyzer"/>-->
   <bean class="eu.alertproject.iccs.stardom.analyzers.its.constructor.ItsIssueCountAnalyzer"/>
   <bean class="eu.alertproject.iccs.stardom.analyzers.its.constructor.ItsTemporalAnalyzer"/>

    <!-- Analyzers -->


    <!--<bean class="eu.alertproject.iccs.stardom.analyzers.scm.constructor.ScmActivityAnalyzer"/>-->
    <!--<bean class="eu.alertproject.iccs.stardom.analyzers.scm.constructor.ScmActivityHistoryAnalyzer"/>-->
    <bean class="eu.alertproject.iccs.stardom.analyzers.scm.constructor.ScmTemporalAnalyzer"/>
    <bean class="eu.alertproject.iccs.stardom.analyzers.scm.constructor.ScmApiIntroducedHistoryAnalyzer"/>
    <!--<bean class="eu.alertproject.iccs.stardom.analyzers.scm.constructor.ScmApiIntroducedHistoryAnalyzer"/>-->



    <!--<bean class="eu.alertproject.iccs.stardom.analyzers.forums.constructor.ForumActivityAnalyzer"/>-->
    <!--<bean class="eu.alertproject.iccs.stardom.analyzers.mailing.constructor.MailingListActivityAnalyzer"/>-->
    <!--<bean class="eu.alertproject.iccs.stardom.analyzers.mailing.constructor.MailingListActivityHistoryAnalyzer"/>-->
    <bean class="eu.alertproject.iccs.stardom.analyzers.mailing.constructor.MailingListTemporalAnalyzer"/>



</beans>