/* We use Eric Meyer's reset stylesheet 100% of the time  =========================================== */

/* Eric Meyer's Reset CSS -- http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/
-------------------------------------------------------------------------- */

* { margin: 0; padding: 0; font-weight: normal; } /* Safari seems to ignore a lot of the reset style sheet and I am not sure why. */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }
:focus { outline: 0; } /* remember to define focus styles! */
ins { text-decoration: none; } /* remember to highlight inserts somehow! */
del { text-decoration: line-through; }
table { border-collapse: separate; border-spacing: 0; } /* tables still need 'cellspacing="0"' in the markup */
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

@blue:#ADD94E;

@layout-identity:25%;
@layout-profile:35%;
@layout-metrics:30%;
@layout-ci:5%;

body {
    font: 11px/165% Arial, Helvetica, sans-serif;
    color: #666;
    margin: 0;
    padding: 0;
    background: white;
    text-align: center;
    left: 0px;
    right: 0px;
    overflow: hidden;
}

h1{
    color:@blue;
    font-weight: bold;
    font-size: 160%;
    margin: 4px 0px;
}

h2{
    color:@blue;
    font-weight:bold;
    font-size: 140%;
    margin:5px 0px;

}

.container{
    display:block;
    overflow:hidden;
    width:980px;
    min-width:980px;
    margin:auto;

}

.padding-10{
    padding:10px;
}

.header{

    background-color:#E9E9E9;
    border:1px solid black;
    margin: 10px 0px;

    div{

        float:left;
        font-weight:bolder;
        font-size: 140%;


        &.identity{
            width: @layout-identity;
        }

        &.profiles{
            width: @layout-profile;
        }
        &.metrics{
            width: @layout-metrics;
        }
        &.ci{
            width: @layout-ci;
        }
    }
}

.identity-list{


    li.identity{


        list-style:none;
        width:100%;
        padding: 5px 0px;
        margin: 5px 0px;
        border-bottom: 1px solid gray;

        div{

            float:left;

            &.identity{
                width: @layout-identity;
            }

            &.profiles{
                width: @layout-profile;
            }
            &.metrics{
                width: @layout-metrics;
            }
            &.ci{
                width: @layout-ci;

                font-size:200%;
                font-color:black;
            }
        }
    }

    .identity-uuid{
        font-size:90%;
        color: @blue;
        font-weight:bolder;
    }

}

div.profile{

    min-width:300px;
    border: 1px solid gray;
    padding:5px;

    ul{
        li{
            display:block;

            label{
                display:inline-block;
                font-weight:bolder;
                width: 90px;
            }
        }
    }
}

div.metrics-list{

    ul{

        li{
            display:block;
            list-style:none;
            padding:3px;


            label{
                font-weight:bolder;
                margin-right: 3px;
            }


        }
        // TODO Check why & notation didn't work here
        li.odd{
          background-color:#E9E9E9;
        }


    }

}

#events-processed{
    display: block;

    label{
        font-size: 110%;
        float:left;
        font-weight: bold;
        width:60px;
    }

    #events-counter{
        height: 150px;
        margin: 10px 0px;
        border: 1px dotted lightgray;

        ul{
            li{
                list-style: none;
                margin: 5px 0px;

                label{
                    display: inline-block;
                    font-weight: normal;
                    font-style: italic;
                    width: auto;
                    line-height: 20px;
                    vertical-align: bottom;
                    

                }   
                span{
                    display: inline-block;
                    margin: 0px 10px ;
                    font-size: bolder;
                    line-height: 20px;
                    font-size: 130%;
                
                }
            }
        }
    }

}



div.pagination{

    display:block;
    width:100%;
    margin: 5px 0px;
    text-align:center;

    #button-pages{
        margin:auto;

        .loader-holder{
            width:40px;
            float:left;
            min-height:20px;
        }

        #pages{
            width: 70px;
            text-align:center;
            font-weight:bold;
        }
        a{

            font-size: 110%;

            &:link,
            &:visited{
                text-decoration: none;
                color: @blue;
            }

            &:hover,
            &:active{
                color: @blue;
                text-decoration: underline overline;
            }


        }
    }


    ul.pages{
        width:200px;
        display:inline-block;
        line-height:10px;

        li.page{
            display:inline;
            list-style:none;


            a{

                font-size: 110%;

                &:link,
                &:visited{
                    text-decoration: none;
                    color: @blue;
                }

                &:hover,
                &:active{
                    color: @blue;
                    text-decoration: underline overline;
                }


            }&.selected{
                font-size: 130%;
                font-weight: bolder;

            }

        }
    }
}

.search{

    #search-control{

        float:left;
        font-size: 130%;
        input{
            font-size: 130%;
        }

    }

    #search-results{
        float:left;
        display:block;
        h3{
            margin: 10px 0px;
            font-weight: bold;
            color:@blue;
        }

        .result{
            float:left;
            width: 400px;
            padding: 0px 20px 0px 0px ;
            margin: 10px 0px 0px 0px;

            label{
                color: @blue;
                font-size: 120%;
                margin: 3px 5px;
            }

            table{
                width: 100%;
                tr:hover{
                    td{

                        background-color: #d3d3d3;
                        cursor: pointer;
                    }
                }
                td{
                    padding: 5px;
                    border: 1px dashed #d3d3d3;


                }
            }
        }
        ul{
            li{
                margin: 20px 0px;
            }
        }
    }

    #merge-control{
        float:right;
        width:auto;
    }
}



.form-container{

    margin-left: auto;
    margin-right: auto;
    width: 960px;
    background: white;

    margin:10px;
    font-size: 130%;

    .form-field{
        clear:both;
        margin:5px 0;

        .form-label{
            float:left;
            text-align: right;
            width: 120px;
        }
        .form-input{
            float:left;
            width: 350px;

            input{
                font-size: 130%;
                width:90%;
            }

            textarea{
                font-size: 130%;
                width:90%;
            }
        }
        .form-errors{
            float:left;
            color:red;
            width: auto;
        }


    }

    .form-controls{
        clear:both;


    }
}



.tabswrapper {
    position:relative;
    margin:10px;
    padding: 10px;
    -moz-box-shadow: 0px 0px 3px #aaa;
    -webkit-box-shadow: 0px 0px 3px #AAA;
    box-shadow: 0px 0px 3px #AAA;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid white;
    background-color: #F9F9F9;
    width: 940px;
    overflow: hidden;
    text-align: center;
}


.nice-button:hover {
    float: left;
    color: white;
    text-shadow: 1px 1px 1px #333;
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.09, #969696),
        color-stop(0.55, #969696),
        color-stop(0.78, #C8C8C8)
    );
    background: -moz-linear-gradient(
        center bottom,
        #969696 9%,
        #969696 55%,
        #C8C8C8 78%
    );
    background-image: -o-linear-gradient(
        90deg,
        #969696 9%,
        #969696 55%,
        #C8C8C8 78%
    );
    filter: ~"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=rgb(150,150,150),endColorstr=rgb(200,200,200));"
}

a.nice-button{
    padding-top: 10px;
}

.nice-button {
    float: left;
    line-height: normal;
    text-decoration: none;
    box-sizing: border-box;
    -webkit-box-align: center;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    display: block;
    text-align: center;
    vertical-align: baseline;

    margin:5px;
    border: none;
    outline: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding: 5px 20px;
    text-shadow: 1px 1px 1px #666;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background: #93B876;
    height: 33px;

    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.09, #96C864),
        color-stop(0.55, #96C864),
        color-stop(0.78, #B6DE8F)
    );
    background: -moz-linear-gradient(
        center bottom,
        #96C864 9%,
        #96C864 55%,
        #B6DE8F 78%
    );
    background-image: -o-linear-gradient(
        90deg,
        #96C864 9%,
        #96C864 55%,
        #B6DE8F 78%
    );

    filter: ~"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=rgb(150,200,100),endColorstr=rgb(182,222,143));";


    &.center{
        float: none;
        margin:0 auto;
        width:100px;
    }
}

.clearfix:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

